<form [formGroup]="formGroup" class="flex flex-column gap-2">
  <div class="flex flex-wrap justify-content-center align-items-center gap-2">
    <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input pInputText placeholder="Store name" formControlName="storeName"/>
    </p-inputGroup>
  </div>

  <div class="flex flex-wrap justify-content-center align-items-center gap-2">
    <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-tags"></i>
      </p-inputGroupAddon>
      <input pInputText placeholder="Item Description" formControlName="description" />
    </p-inputGroup>
  </div>

  <div class="flex flex-wrap justify-content-center align-items-center gap-2">
    <p-inputGroup>
      <p-inputGroupAddon>$</p-inputGroupAddon>
      <input type="number" pInputText placeholder="Price" formControlName="price" />
    </p-inputGroup>
  </div>

  <p-button label="Purchase" icon="pi pi-credit-card" styleClass="p-button-danger w-10rem mx-auto" (onClick)="addPurchase()"></p-button>

</form>
